{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container py-4">
    
    <!-- panel de control  -->
    <div class="p-5 mb-4 rounded-3 fr">
      <div class="container-fluid py-3">

        <div class="row ">
          <div class="col-sm-8">
            <h1 class="fw-bold display-1 mb-3">Empresa</h1>
          </div>
          <div class="col-sm-4">col-sm-4</div>
        </div>
        <div class="row">
          <div class="col-sm">
            <p class="fw-bold display-6 mb-2">Total</p>
            <h2 class="fw-bold t_balance">2,456.450</h2>
          </div>
          <div class="col-sm">
            <p class="fw-bold display-6 mb-2">Ventas</p>
            <h2 class="fw-bold t_balance">2,456.450</h2>
          </div>
          <div class="col-sm">
            <p class="fw-bold display-6 mb-2">Inventario</p>
            <h2 class="fw-bold t_balance">2,456.450</h2>
          </div>
        </div>

      </div>
    </div>

    <div class="row align-items-md-stretch">

      <!-- listado de Productos  -->
      <div class="col-md-6 mb-3">
        <div class="h-100 p-5 rounded-3 fr">
          <h2 class="fw-bold mb-2">Productos</h2>
          <ul class="list-group  text-light">
            <a href="">
              <li class=" rounded-3 mb-2 p-3 d-flex justify-content-between lh-sm porduct_item">
                <div>
                  <h6 class="text-light">Product name</h6>
                  <small class="">Unidades disponibles</small>
                </div>
                <span class="">$12</span>
              </li>
            </a>
            <a href="">
              <li class=" rounded-3 mb-2 p-3 d-flex justify-content-between lh-sm porduct_item">
                <div>
                  <h6 class="text-light">Product name</h6>
                  <small class="">Unidades disponibles</small>
                </div>
                <span class="">$12</span>
              </li>
            </a>
            <a href="">
              <li class=" rounded-3 mb-2 p-3 d-flex justify-content-between lh-sm porduct_item">
                <div>
                  <h6 class="text-light">Product name</h6>
                  <small class="">Unidades disponibles</small>
                </div>
                <span class="">$12</span>
              </li>
            </a>
            <a href="">
              <li class=" rounded-3 mb-2 p-3 d-flex justify-content-between lh-sm porduct_item">
                <div>
                  <h6 class="text-light">Product name</h6>
                  <small class="">Unidades disponibles</small>
                </div>
                <span class="">$12</span>
              </li>
            </a>
            <a href="">
              <li class=" rounded-3 mb-2 p-3 d-flex justify-content-between lh-sm porduct_item">
                <div>
                  <h6 class="text-light">Product name</h6>
                  <small class="">Unidades disponibles</small>
                </div>
                <span class="">$12</span>
              </li>
            </a>
            <a href="">
              <li class=" rounded-3 mb-2 p-3 d-flex justify-content-between lh-sm porduct_item">
                <div>
                  <h6 class="text-light">Product name</h6>
                  <small class="">Unidades disponibles</small>
                </div>
                <span class="">$12</span>
              </li>
            </a>
            
           
          </ul>
          <button class="btn  p-2 mb-1 btr" type="button">Example button</button>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="h-100 pt-0 rounded-3 ">
          <div class="container ">

            <!-- seccion de categorias -->
            <div class="row mb-3 pt-0 h-40 fr rounded-3">
              <div class="col p-5  h-100 ">
                <h2>Categorias</h2>
                <div class="container text-light text-center mb-2">
                  <div class="row ">
                    <div class="col border m-2 rounded-3 p-2">
                      Categoria
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Categoria
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Categoria
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Categoria
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Categoria
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Categoria
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Categoria
                    </div>
                  </div>
                </div>
                <button class="btn  mt-3 btr" type="button">Example button</button>
              </div>
            </div>

            <!-- seccion de proveedores  -->
            <div class="row fr h-40 pb-0 rounded-3">
              <div class="col p-5 ">
                <h2>Proveedores</h2>
                <div class="container text-light text-center mb-2">
                  <div class="row ">
                    <div class="col border m-2 rounded-3 p-2">
                      Proveedor
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Proveedor
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Proveedor
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Proveedor
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Proveedor
                    </div>
                    <div class="col border m-2 rounded-3 p-2">
                      Proveedor
                    </div>
                  </div>
                </div>
                <button class="btn mt-3 btr" type="button">Example button</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5  rounded-3 fr">
          <h2>Change the background</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="h-100 p-5   rounded-3 fr">
          <h2>Add borders</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>

</div>

{% endblock %}